<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./resources/Head.ejs %>


        <title>Daily Report Viewer</title>

    </head>
    <body>

        <% include ./resources/navHeader.ejs %>

        <div>
            <h3>Welcome to the Daily Report Viewer Page</h3>
        </div>

        <div>
          <form action="http://localhost:3003/dailyreports/getReport" method="post">
              Record Date: <input type="date" name="rdate" required>
              <input type="submit">
            </form>
        </div>


        <div id="ReportTable">
            <% if(Report === null){ %>
                <p>No report exists for the date you entered.</p>
            <%}else {%>
            <p>The report you requested was located.</p>
            <p>Date of Report: <%=ReportDate%></p>
            <table style="width:100%">
              <tr>
                <th>Doctor</th>
                <th>Patients</th>
                <th>Income</th>
              </tr>
              <% Report.doctorStats.forEach(function(eachDoctor){ %>
                    <tr>
                        <td><%=eachDoctor.doctorName%></td>
                        <td><%=eachDoctor.numPatientsToday%></td>
                        <td><%=eachDoctor.totalIncome%></td>
                    </tr>
               <% }); %>
                    <tr>
                        <td>Totals</td>
                        <td><%=Report.totalPatientsToday%></td>
                        <td><%=Report.dailyTotal%></td>
                    </tr>
            </table>
            <%}%>
        </div>

    </body>
</html>
