<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./resources/Head.ejs %>

        <title>Monthly Report Viewer</title>

    </head>
    <body>

        <% include ./resources/navHeader.ejs %>

        <div>
            <h3>Welcome to the Monthly Report Viewer Page.</h3>
        </div>

        <div>
          <form action="http://localhost:3003/monthlyreports/getReport" method="post">
              Record Date: <input type="month" name="rdate">
              <input type="submit">
            </form>       
        </div>
        
        <div id="ReportDisplay">
        
            <% if(Report === null){ %>
                <p>No report exists for the date you entered.</p>
            <%}else {%>
                <p>The report you requested was located.</p>                
                <p>Total Monthly Income: <%=Report.monthlyTotal%> </p>
                <p>Date of Report: <%=ReportDate%></p>
                <br/>
            
                <% Report.doctorStats.forEach(function(eachDoctor){%>
                    <p>Doctor Name: <%=eachDoctor.doctorName%> </p>
                    <p>Number of Patients Seen This Month: <%=eachDoctor.numPatientsThisMonth%> </p>
                    <p>Total Income This Month: <%=eachDoctor.totalIncome%></p>
                    <br/>
                <%});%>
            <%} %>
        
        </div>
        
    </body>
</html>
