<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link href="../public/styles.css" rel="stylesheet" type="text/css">
        <title>View Patient Record</title>

    </head>
    <body>
      <% include ./resources/navHeader.ejs %>
        <form action=<%=goTo%> method="post">

          First Name: <input type="text"  name="firstname" id="firstname" value= <%=fullRecord.patient.firstname%>> <br>
          Last Name: <input type="text"  name="lastname" id="lastname" value= <%=fullRecord.patient.lastname%>> <br>
          Date: <%=fullRecord.appointment.date%> <br>
          SSN: <input type="text"  name="SSN" id="SSN" value= <%=fullRecord.patient.SSN%>> <br>
          Doctor: <input type="text"  name="doctor" id="doctor" value= <%=fullRecord.patient.doctor%>> <br>
          Billing Information: <input type="text"  name="billingInfo" id="billingInfo" value= <%=fullRecord.patient.onFilePaymentInfo%>> <br>
          Billing Amount: <input type="text"  name="billingAmount" id="billingAmount" value= <%=fullRecord.appointment.billingAmount%>> <br>
          Patient Copay: <input type="text"  name="patientCopay" id="patientCopay" value= <%=fullRecord.appointment.patientCopay%>> <br>
          Reference Number: <input type="text"  name="reference" id="reference" value= <%=fullRecord.appointment.reference%>> <br> <!--WHAT???!-->
          Invoice Number: <input type="text"  name="_id" value= <%=fullRecord.appointment._id%> style="width: 300px;"> <br>
          Age: <input type="text"  name="age" id="age" value= <%=fullRecord.appointment.age%>> <br>
          Weight: <input type="text"  name="weight" id="weight" value= <%=fullRecord.appointment.weight%>> <br>
          Height: <input type="text"  name="height" id="height" value= <%=fullRecord.appointment.height%>> <br>
          Blood Pressure: <input type="text"  name="bloodPressure" id="bloodPressure" value= <%=fullRecord.appointment.bloodPressure%>> <br>
          Reason For Visit: <input type="text"  name="reasonForVisit" id="reasonForVisit" value= <%=fullRecord.appointment.reasonForVisit%>> <br>
          Treatment Info: <input type="text"  name="treatmentInfo" id="treatmentInfo" value= <%=fullRecord.appointment.treatmentInfo%>> <br>
          Status:
          <select name="status">
            <%if(fullRecord.appointment.status == "InProgress"){%>
              <option value="InProgress" selected>In Progress</option>
              <option value="NoShow">No Show</option>
              <option value="Scheduled">Scheduled</option>
              <option value="Finalized">Finalized</option>
            <%}else if(fullRecord.appointment.status == "NoShow"){%>
              <option value="InProgress">In Progress</option>
              <option value="NoShow" selected>No Show</option>
              <option value="Scheduled">Scheduled</option>
              <option value="Finalized">Finalized</option>
            <%}else if(fullRecord.appointment.status == "Scheduled"){%>
              <option value="InProgress">In Progress</option>
              <option value="NoShow">No Show</option>
              <option value="Scheduled" selected>Scheduled</option>
              <option value="Finalized">Finalized</option>
            <%}else{%>
              <option value="InProgress">In Progress</option>
              <option value="NoShow">No Show</option>
              <option value="Scheduled">Scheduled</option>
              <option value="Finalized" selected>Finalized</option>
            <%}%>
          </select>
          <br>
          <!--value= <%=fullRecord.appointment.status%>> <br>-->

          Pay Online:
          <select name="payOnline">
            <%if(fullRecord.appointment.payOnline == true) {%>
              <option value="true" selected>True</option>
              <option value="false">False</option>
            <%}else{%>
              <option value="true">True</option>
              <option value="false" selected>False</option>
            <%}%>
          </select>
          <br>
          <!--value= <%=fullRecord.appointment.payOnline%>> <br>-->

          <input type="submit" value='<%=button%>'>
        <br>
        </form>
		<form action="http://localhost:3003/pay" method="post">
			<input name="id" id="id" type="hidden" value=<%=record.appointment._id%>>
			<input type="submit" value="Process Payment">
		</form>
    <script>

    </script>

    </body>
</html>
