<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link href="../public/styles.css" rel="stylesheet" type="text/css">

        <title>View Patient Record</title>

    </head>
    <body>
      <% include ./resources/navHeader.ejs %>
        <form>
            First Name: <%=patient.firstname%></br>
            Last Name: <%=patient.lastname%></br>
            Address: <%=patient.address%></br>
            Phone: <%=patient.phone%></br>
            Email: <%=patient.email%></br>
            SSN: <%=patient.SSN%></br>
            Insurance: <%=patient.insurance%></br>
            On File Payment Info: <%=patient.onFilePaymentInfo%></br>
            Doctor: <%=patient.doctor%></br>
            Medical Notes: <%=patient.medicalNotes%></br>
        <br>
        </form>
        <br/>
    <script>

    </script>

    </body>
</html>
