<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link href="../public/styles.css" rel="stylesheet" type="text/css">
        <title>View Patient Record</title>

    </head>
    <body>
      <% include ./resources/navHeader.ejs %>
        <form action="http://localhost:3003/view_appointment_treatment_record/update" method="post">

          First Name: <input type="text"  name="firstName" id="firstName" value= <%=record.firstname%>> <br>
          Last Name: <input type="text"  name="lastName" id="lastName" value= <%=record.lastname%>> <br>
          Date: <%=record.date%><br>
          Change Date To: <input type="date"  name="date" id="date" value= <%=record.date%>> <br>
          SSN: <input type="text"  name="PatientSSN" id="PatientSSN" value= <%=record.PatientSSN%>> <br>
          Doctor: <input type="text"  name="doctor" id="doctor" value= <%=record.doctor%>> <br>
          Billing Information: <input type="text"  name="billingInfo" id="billingInfo" value= <%=record.billingInfo%>> <br>
          Billing Amount: <input type="text"  name="billingAmount" id="billingAmount" value= <%=record.billingAmount%>> <br>
          Reference Number: <input type="text"  name="reference" id="reference" value= <%=record.reference%>> <br>
          Invoice Number: <input type="text"  name="_id" value= <%=record._id%> style="width: 300px;"> <br>
          Age: <input type="text"  name="age" id="age" value= <%=record.age%>> <br>
          Weight: <input type="text"  name="weight" id="weight" value= <%=record.weight%>> <br>
          Height: <input type="text"  name="height" id="height" value= <%=record.height%>> <br>
          Blood Pressure: <input type="text"  name="bloodPressure" id="bloodPressure" value= <%=record.bloodPressure%>> <br>
          Reason For Visit: <input type="text"  name="reasonForVisit" id="reasonForVisit" value= <%=record.reasonForVisit%>> <br>
          Treatment Info: <input type="text"  name="treatmentInfo" id="treatmentInfo" value= <%=record.treatmentInfo%>> <br>
          Status: <input type="text"  name="status" id="status" value= <%=record.status%>> <br>

          <input type="submit" value="Update">
        <br>
        </form>
    <script>

    </script>

    </body>
</html>
