<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link href="../public/styles.css" rel="stylesheet" type="text/css">

        <title>View Patient Record</title>

    </head>
    <body>
      <% include ./resources/navHeader.ejs %>
        <form>
            First Name: <%=record.firstname><br>
            Last Name: <%=record.lastname><br>
            Date: <%=record.date><br>
            SSN: <%=record.SSN><br>
            Doctor: <%=record.doctor><br>
            Billing Information: <%=record.billingInfo><br>
            Billing Amount: <%=record.billingAmount><br>
            Reference Number: <%=record.reference><br>
            Invoice Number: <%=record._id><br>
            Age: <%=record.age><br>
            Weight: <%=record.weight><br>
            Height: <%=record.height><br>
            Blood Pressure: <%=record.bloodPressure><br>
            Reason For Visit: <%=record.reasonForVisit><br>
            Treatment Info: <%=record.treatmentInfo><br>
            Status: <%=record.status><br>

        <br>
        </form>
    <script>

    </script>

    </body>
</html>
